/*************Estilo geral das páginas***************/


body {
    margin: 0;
    background: #d5d5d5;
}

.icon {
    padding-left: 30px;
    padding-top: 65px;
    width: 180px;
    height: 185px;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-decoration: none;
}
a#socialmedia {
    text-align: right;
    text-decoration: none;
    color: #000;
    width: 60px;
    height: 60px;
    margin: 20px;
}

.socialmedia {
    position: absolute;
    text-align: right;
    margin: 5px 500px;
    width: 60px;
    height: 60px;
    display: flex;
    background-color: #090B2B;
}

div#cabecalho{
    display: flex;
    background-color: #090B2B;
}

h2#titulo {
    text-align: left;
    padding-left: 10px;
    font-family: arial;
    color: #01BACA;
    font-size: 80px;
    text-shadow: rgb(22, 88, 129) 0.1em 0.1em 0.2em;
}

h5#subtitulo {
    text-align: left;
    font-family: Arial;
    color: #01BACA;
    font-size: 35px;
    text-shadow: rgb(22, 88, 129) 0.1em 0.1em 0.2em;
}
img#imgcenter {
    position: inherit;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    box-shadow: 0.5em 0.7em 1em #7777778e;
}

div#rodape {
    
    padding: 0;
    text-align: center;
    margin: 0;
    background-color: #090B2B;
    width: 100%;
    height: 350px;
}

button {
    text-decoration: none;
    margin: 25px 30px;
    border-radius: 20px;
}

button#blue {
    font-family: arial;
    background-color: #039EF4;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 30px 40px;
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button#blue:hover {
    border: #000;
    color: #ffffff;
    box-shadow: 0 0 5px #039EF4,
                0 0 25px #039EF4,
                0 0 50px #039EF4,
                0 0 200px #039EF4;
}

button#red {
   font-family: arial;
   background-color: #F05F57;
   font-size: 45px;
   position: relative;
   display: inline-block;
   padding: 25px 30px;
   margin: 40px 40px;
   text-transform: uppercase;
   transition: 0.5s;
   -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button#red:hover {
    border: #000;
    color: #ffffff;
    box-shadow: 0 0 5px #F05F57,
                0 0 25px #F05F57,
                0 0 50px #F05F57,
                0 0 200px #F05F57;
}

button#green{
    font-family: arial;
    background-color: #81FBB8;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 40px;
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button#green:hover{
    border: #000;
    color: #ffffff;
    box-shadow: 0 0 5px #81FBB8,
                0 0 25px #81FBB8,
                0 0 50px #81FBB8,
                0 0 200px #81FBB8;
}

button#yellow {
    font-family: arial;
    background-color: #FDEB71;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 40px;
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button#yellow:hover {
    border: #000;
    color: #ffffff;
    box-shadow: 0 0 5px #FDEB71,
                0 0 25px #FDEB71,
                0 0 50px #FDEB71,
                0 0 200px #FDEB71;
}

/********** Estilo de cadastro ***********/

form {
    justify-content: center;
}

.camp {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
}

h1, h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #187379;
}

button.botao {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #ffffff;
    box-shadow: 5px 5px 5px #37596b;
    background: rgba(0, 128, 255, 0.856);
    padding: 5px 25px;
    display: block;
    margin-left: 47%;
}

button.botao:hover {
    background: #004a72;
}

form {
    text-align: center;
    display: block;
}
textarea {
    width: 45%;
    height: 200px;
    font-size: 30px;
}

hr {
    width: 45%;
    height: 2px;
}

label {
    margin: 5px;
}

label#caixadetexto {
    font-size: 20px;
    display: block;
    padding: 15px;
}

/****** Estilo para dispositivo móvel ******/
@media screen and (max-width: 600px){

    .icon {
        position: relative;
        padding-left: 10px;
        padding-top: 40px;
        width: 90px;
        height: 100px;
    }

    a#socialmedia {
        position: absolute;
        align-items: flex-end;
        color: #000;
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    
    .socialmedia {
        position: relative;
        margin: 2,5px 100px;
        width: 30px;
        height: 30px;
    }
    
    div#cabecalho{
        display: inline-flex;
        background-color: #090B2B;
    }
    
    div#cabecalho{
        display: flex;
    }

    h2#titulo {
        text-align: left;
        padding-left: 10px;
        font-size: 40px;
    }
    
    h5#subtitulo {
        text-align: center;
        font-size: 15px;
    }
    button {
        margin: 12,5px 15px;
        border-radius: 10px;
    }
    
    button#blue {
        font-size: 20px;
        padding: 12,5px 15px;
        margin: 15px 20px;
    }
    
    button#blue:hover {
        box-shadow: 0 0 2,5px #039EF4,
                    0 0 12,5px #039EF4,
                    0 0 25px #039EF4,
                    0 0 100px #039EF4;
    }
    
    button#red {
       font-size: 20px;
       padding: 12,5px 15px;
       margin: 20px 20px;
    }
    
    button#red:hover {
        box-shadow: 0 0 2,5px #F05F57,
                    0 0 12,5px #F05F57,
                    0 0 25px #F05F57,
                    0 0 100px #F05F57;
    }
    
    button#green{
        font-size: 20px;
        padding: 12,5px 15px;
        margin: 20px 20px;
    }
    
    button#green:hover{
        box-shadow: 0 0 2,5px #81FBB8,
                    0 0 12,5px #81FBB8,
                    0 0 25px #81FBB8,
                    0 0 100px #81FBB8;
    }
    
    button#yellow {
        font-family: arial;
        background-color: #FDEB71;
        font-size: 20px;
        padding: 12,5px 15px;
        margin: 20px 20px;
    }
    
    button#yellow:hover {
        box-shadow: 0 0 2,5px #FDEB71,
                    0 0 12,5px #FDEB71,
                    0 0 25px #FDEB71,
                    0 0 100px #FDEB71;
    }

    textarea {
        width: 300px;
        height: 200px;
        font-size: 15px;
    }

    h1, h2 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #187379;
    }
    
    button.botao {
        font-size: 20px;
        padding: 5px 25px;
        margin-left: 30%;
    }

    hr{
        width: 65%;
    }
    
}
